body {
  font-size: 16px;
  color: #fff;
  background-color: #f6f6f6;
  font-family: 'Raleway', sans-serif;
  text-transform: lowercase;
}
.bg-light {
  background-color: #f6f6f6!important;
}

  #myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 27px; /* Place the button at the bottom of the page */
  right: 0px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #878787; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: none; /* Some padding */
  border-radius: 90%; /* Rounded corners */
  font-size: 30px; /* Increase font size */
opacity: 1;}

.currentColor{
	color: #878787; !important
}

#myBtn:hover {
  background-color: #676767; /* Add a dark-grey background on hover */
}


.navbar-toggler-icon{outline: none; border: none;}
/** HEADER **/
.navbar {

  padding: 0.5rem 1rem ;
  padding-top: 1.2rem;
  padding-bottom: 0rem;

}

#head-color{background-color: #f6f6f6;}

#logo-img {
  background: url('Minimalistic_artwork_fusion_zometool_1920x1080.jpg') no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}

.navbar-ic-position{
	text-align: right;
}

.margi{
	margin-top: 100px
}

.navbar-brandx {
  display: inline-block;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brandx:hover, .navbar-brandx:focus {
  text-decoration: none;
}

.jumbotron {
	margin-top: 25px;
 text-align: center;
  background-color: #878787;

}
.lead {
  font-size: 1rem;
  margin-left:25px;margin-right:25px;
  font-weight: 300;
  margin-bottom: 150px;
}


#home-tile , #Feature-tile, #Pricing-tile {
background-color: red;
  height: 400px;
  width: 100%;

  margin-bottom: 15px;
  position: relative;
  /*border: 2px solid #3F0C1F;*/
  overflow: hidden;


}
#home-tile:hover, #Feature-tile:hover, #Pricing-tile:hover {

  box-shadow: 0 1px 5px 1px #878787;
}

#home-tile{
  background: url('../images/menu-tile.jpg') no-repeat;
  background-position: center;
}
#Feature-tile {
  background: url('../images/specials-tile.jpg') no-repeat;
  background-position: center;
}

#home-tile span, #Feature-tile span, #Pricing-tile span {
position: absolute;
top:0;
right: 0;
  width: 100%;
  text-align: center;
  font-size: 1em;
  text-transform: lowercase;
  font-weight: 500;
  color: #141414;
  margin-top: 200px;

}



.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


#home-tile , #Feature-tile, #Pricing-tile {
background-color: white;}


.btn-primary {
  color: white;
  background-color: darkgrey;
  	border-color: darkgray;
  	border-radius: 25px;
  
}

.btn-primary:hover {
  color: #fff;
  background-color: black;
  border-color: black;}

#tile-margi{
margin-top: -150px;

}
#tile-para{
right: 0;
	text-align: center;
	position: absolute;
	color: #141414;
	font-size: 13px;
	margin-right: 15px;
	margin-left: 15px;
	top:250px;

}


.dropdown-menu{background-color: #f6f6f6;}

.dropdown-item:hover, .dropdown-item:focus {
  color: #16181b;
  text-decoration: none;
  background-color: #878787;
}

form{
	margin-left:15px;
	margin-top: 95px;
	color: #141414;
}
#upload-photo{
	margin-top: 100px;
}
a{
	color: #505050;
}
a:hover{
text-decoration: none;
	color:blue;
}

button>a:hover{
	color:#878787;
}

.panel-footer{
margin-top: 40px;
	color: white;
	background-color: #878787;
	margin-bottom: 5px;
	padding-top: 10px;padding-bottom: 5px;
}

#img-back{
	background-color: #f6f6f6;
}


.fa {
  padding: 6.9px;
  height:30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin-left: 0px;
  margin: 10px 10px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: black;
  color: white;
}

.fa-twitter {
  background: black;
  color: white;
}

.fa-linkedin {
  background: black;
  color: white;
}


.fa-instagram {
  background: black;
  color: white;
}
